.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.input-div input{
    height: 2.5rem;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 17rem;
    text-align:right;
    font-size: 1.9rem;
}
.input-div input:focus{
    outline: none;
}